home/wallpapers/*.jpg filter=lfs diff=lfs merge=lfs -text
home/wallpapers/*.jpeg filter=lfs diff=lfs merge=lfs -text
home/wallpapers/*.png filter=lfs diff=lfs merge=lfs -text
home/wallpapers/*.webp filter=lfs diff=lfs merge=lfs -text
home/wallpapers/*.gif filter=lfs diff=lfs merge=lfs -text
