{
  "dark": {
    "base": "{{colors.surface.dark.hex}}",
    "rosewater": "{{colors.primary.dark.hex}}",
    "text": "{{colors.on_surface.dark.hex}}",
    "subtext0": "{{colors.on_surface_variant.dark.hex}}",
    "blue": "{{colors.tertiary.dark.hex}}",
    "peach": "{{colors.secondary.dark.hex}}",
    "surface1": "{{colors.outline.dark.hex}}",
    "overlay0": "{{colors.outline.dark.hex}}"
  },
  "light": {
    "base": "{{colors.surface.light.hex}}",
    "rosewater": "{{colors.primary.light.hex}}",
    "text": "{{colors.on_surface.light.hex}}",
    "subtext0": "{{colors.on_surface_variant.light.hex}}",
    "blue": "{{colors.tertiary.light.hex}}",
    "peach": "{{colors.secondary.light.hex}}",
    "surface1": "{{colors.outline.light.hex}}",
    "overlay0": "{{colors.outline.light.hex}}"
  }
}
